*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Capriola', cursive;
  background: radial-gradient(circle,rgb(119, 204, 247) 0%, rgb(165, 112, 215) 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
}